
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title%} My Django Site {% endblock %}</title>

        <!-- CSS from static files -->
        <link rel="stylesheet" href="{% static 'pages/style.css' %}">
    </head>

    <body>
        <!--Navbar-->
        <nav>
            <a href="/">Home</a> |
            <a href="/about/">About</a> |
            <a href="/admin/">Admin</a> |
            <a href="/add-profile/">Add Profile</a>

        </nav>

        <hr>

        <!--Page Contents-->
        {% block content %}

        {% endblock %}

        <hr>

        <footer>
            <p>© 2026 - Built by Vy 🚀</p>
        </footer>
    </body>
</html>