{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Profiles List</h1>

    {% if profiles %}
        <ul>
            {% for profile in profiles %}
                <li>
                    <b>Name :</b> {{ profile.name }} |
                    <b>Role :</b> {{ profile.role }} |
                    <b>Active :</b> {{ profile.is_active }}
                </li>
                <li>
                    <b>{{ profile.name }}</b> - {{ profile.role }}

                    <a href="/update-profile/{{ profile.id }}/">Edit</a>
                    <a href="/delete-profile/{{ profile.id }}" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No profiles found.</p>
    {% endif %}


{% endblock%}