{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1> Welcome {{name}} 👋</h1>
    <p> Role : {{role}}</p>
    <P> Day {{day}} of Django learning 🐍</P>
    

    {% if is_learning%}
        <p>🔥 You are learning Django seriously!</p>
    {% else %}
        <p>❌ You are not learning today.</p>
    {% endif %}


    <h3>Skills :</h3>
    <ul>
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor%}
    </ul>

    <h3>Goals :</h3>
    <ul>
        {% for goal in goals%}
            <li>{{goal}}</li>
        {% endfor %}
    </ul>


 
{% endblock%}