{% extends 'pages/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Profiles List</h1>

    {% if profiles %}
        <ul>
            {% for profile in profiles %}
                <li>
                    <b>Name :</b> {{ profile.name }} |
                    <b>Role :</b> {{ profile.role }} |
                    <b>Active :</b> {{ profile.is_active }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No profiles found.</p>
    {% endif %}

{% endblock%}